.container {
  background: #000;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.container header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.5em;
}

.container article {
  padding: 0 300px 100px;
}

.container article p a {
  text-decoration: none;
  color: #fff;
}

.container footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 300px 100px;
}
