.container {
  background: #000;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.container header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.5em;
}

.container .content {
  padding: 0 100px 100px;
}

.container .content li {
  list-style: none;
  border-left: 1px solid #fff;
  transition: 0.3s;
}

.container .content li:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.container .content .launch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 20px;
}

.container .content .launch .patch_image img {
  width: 100px;
}

.container .content .launch .flight_number {
  width: 50px;
  text-align: center;
}

.container .content .launch .mission_name {
  width: 260px;
}

.container .content .launch .rocket {
  width: 90px;
}

.container .content .launch .date {
  width: 200px;
}
